Parabéns <strong>{{ student }}</strong>,

<p>Estamos confirmando sua matrícula na <strong>Gympoint!</strong>.

<p>
  <strong>Plano: </strong>{{ plan }}
  <br />
  <strong>Valor das Mensalidades: </strong>R$ {{ price }}
</p>

<p>Você poderá usufruir ao máximo de nossos serviços até dia <strong>{{ end_date }}</strong>.</p>

<small><i>Após essa data não esqueça de fazer a sua rematrícula.</i></small>
